.loader{
  width: 30px;
  height: 30px;
  border: 4px solid #95ae95;
  border-radius: 50%;
  margin: 30px auto;
  border-bottom-color: transparent;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}