.container {
  display: flex;
}
#zero-state {
  margin: 60px auto;
  height: fit-content;
  color: #999;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  img {
    width: 100px;
    height: 100px;
  }
}
