.input__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 75%;
  svg {
    position: absolute;
    left: 10px;
    visibility: hidden;
  }
  label {
    display: none;
    visibility: hidden;
    font-size: 18px;
    min-width: 33.333333%;
  }
}
.input,
.input2 {
  padding: 10px;
  padding-left: 15px;
  background-color: #fff;
  outline: none;
  border: 2px solid transparent;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 100%;
  &:focus {
    border-color: #5ba0fa;
  }
}
.input2 {
  visibility: hidden;
  display: none;
}
.search {
  input {
    padding-left: 30px;
  }
  svg {
    visibility: visible;
  }
}

.with-label {
  display: flex;
  width: 100%;

  label {
    visibility: visible;
    display: block;
  }
}
.with-label-2 {
  display: flex;
  width: 100%;
  .input2 {
    visibility: visible;
    display: block;
  }
  input + input {
    margin-left: 10px;
  }
  label {
    visibility: visible;
    display: block;
  }
}
